body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#startingPage_Bg {
  width: 2160px;
  height: 3840px;
  position: relative;
  z-index: 0;
}

#startingPage_Btn {
  width: 1146px;
  height: 526px;
  position: absolute;
  z-index: 1;
  left: 506px;
  top: 2962px;
}

#startingPage_Btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
